.grid-home_hero {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'hero-text hero-text hero-img'
    'hero-text hero-text hero-img'
    'hero-btn hero-btn hero-img';
  margin: 60px auto 0 auto;
}

.grid-main-footer {
  width: 90%;
  height: 200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'brand brand contact socials'
    'divider divider divider divider'
    'icons icons icons madeby';
}

.grid-cards-character {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  margin: 90px 0;
}

@media screen and (max-width: 824px) {
  .grid-home_hero {
    grid-template-areas:
      'hero-text hero-text hero-text'
      'hero-text hero-text hero-text'
      'hero-img hero-img hero-img'
      'hero-btn hero-btn hero-btn';
  }

  .grid-main-footer {
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
  }
}
