.grid-main-footer {
  width: 90%;
  height: 200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'brand brand contact socials'
    'divider divider divider divider'
    'icons icons icons madeby';
}

@media screen and (max-width: 824px) {
  .grid-main-footer {
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
  }
}
